# Dongle 

if SHIELD_PIPAR_DONGLE

config ZMK_KEYBOARD_NAME
    default "Pipar"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_PIPAR_DONGLE || SHIELD_PIPAR_RIGHT || SHIELD_PIPAR_LEFT

config ZMK_SPLIT
    default y

endif