# Dongle 

if SHIELD_PIPAR_SOOL_DONGLE || SHIELD_PIPAR_SOOL_LEFT_CENTRAL

config ZMK_KEYBOARD_NAME
    default "Pipar & Sool"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_PIPAR_SOOL_DONGLE || SHIELD_PIPAR_SOOL_RIGHT || SHIELD_PIPAR_SOOL_LEFT || SHIELD_PIPAR_SOOL_LEFT_CENTRAL

config ZMK_SPLIT
    default y

endif