
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


/ {
        keymap {
                compatible = "zmk,keymap";
                default_layer {
                        bindings = <
        &kp Q           &kp W           &kp F           &kp P           &kp B                           &kp J           &kp L          &kp U          &kp Y           &kp SQT
        &kp A           &kp R           &kp S           &kp T           &kp G                           &kp M           &kp N          &kp E          &kp I           &kp O
        &kp Z           &kp X           &kp C           &kp D           &kp V                           &kp K           &kp H          &kp CMMA       &mt RALT DOT    &kp SEMI
                                        &kp ESC         &kp SPACE       &kp TAB                         &kp ENTER       &kp BSPC       &studio_unlock
                        >;
                };
        };
};