# Dongle 

if SHIELD_PIPAR_DONGLE

config ZMK_KEYBOARD_NAME
    default "Pipar"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

endif

if SHIELD_PIPAR

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y

endif