name: Build Pipar products

on: 
  workflow_dispatch:
    inputs:
      product:
        description: 'Select which keyboard(s) to build'
        required: true
        type: choice
        default: 'Pipar Point'
        options:
          - 'Pipar Point'
          - 'Pipar Chip'
          - 'Pipar Sool'
          - 'Pipar Flake'
          - 'All Pipar Keyboards'


run-name: Building ${{ github.event.inputs.product }}

jobs:
  build_pipar_point:
    if: ${{ github.event.inputs.product == 'Pipar Point' }}
    uses: petejohanson/zmk/.github/workflows/build-user-config.yml@core/move-to-zephyr-4-1
    with:
      config_path: 'config'
      build_matrix_path: '.github/workflows/products/build_pipar_point.yaml'
      archive_name: 'pipar-point-firmware'
  build_pipar_chip:
    if: ${{ github.event.inputs.product == 'Pipar Chip' }}
    uses: petejohanson/zmk/.github/workflows/build-user-config.yml@core/move-to-zephyr-4-1
    with:
      config_path: 'config'
      build_matrix_path: '.github/workflows/products/build_pipar_chip.yaml'
      archive_name: 'pipar-chip-firmware'
  build_pipar_sool:
    if: ${{ github.event.inputs.product == 'Pipar Sool' }}
    uses: petejohanson/zmk/.github/workflows/build-user-config.yml@core/move-to-zephyr-4-1
    with:
      config_path: 'config'
      build_matrix_path: '.github/workflows/products/build_pipar_sool.yaml'
      archive_name: 'pipar-sool-firmware'
  build_pipar_flake:
    if: ${{ github.event.inputs.product == 'Pipar Flake' }}
    uses: petejohanson/zmk/.github/workflows/build-user-config.yml@core/move-to-zephyr-4-1
    with:
      config_path: 'config'
      build_matrix_path: '.github/workflows/products/build_pipar_flake.yaml'
      archive_name: 'pipar-flake-firmware'
  build_all_pipar:
    if: ${{ github.event.inputs.product == 'All Pipar Keyboards' }}
    uses: petejohanson/zmk/.github/workflows/build-user-config.yml@core/move-to-zephyr-4-1
    with:
      config_path: 'config'
      build_matrix_path: '.github/workflows/products/build_all.yaml'
      archive_name: 'all-pipar-firmwares'
